<%= simple_form_for(@name) do |f| %>
  <%= f.error_notification %>
  <div>
    <%= f.input :name, input_html: { rows: "2" }, label: false %>
    <%= f.button :submit, class: "btn btn-info", value: "submit" %>
  </div>
<% end %>
