<div class="hero-unit">
  <h1>Ratings</h1><br />

  <table class="table">
    <th>name</th>
    <th>rating</th>
    <th>vote</th>
    <th>vote</th>
      <% @names.each do |name| %>
      <tr>
        <td><%= name.name %></td>
        <td><%= name.total %></td>
        <td><%= link_to "up", :controller => :names, :action => "rate", :id => name.id, :up => true %></td>
        <td><%= link_to "down", :controller => :names, :action => "rate", :id => name.id %></td>
      </tr>
      <% end %>
  </table>
</div>