<div class="hero-unit">
  <div class="row-fluid">
    <div class="span1 offset1 arrow up"></div>
    <div class="span8">
      <h1>Rate Someone</h1><br />
      <p class="offset2">Type a name, rate it up or down</p>
      <%= render 'names/form' %>
    </div>
    <div class="span1 offset7 arrow down"></div>
  </div>
</div>