<div class="navbar navbar-fixed-bottom">
  <small>Idea by <%= link_to "Brion Hickey", "https://twitter.com/brionhickey", :target => "_blank" %>. Created by <%= link_to "Doug Wright", "http://doug.io", :target => "_blank" %>
  </small>
</div>