<div class="navbar navbar-fixed-bottom">
  <small class="muted">Created by <%= link_to "Brion Hickey", "https://twitter.com/brionhickey", :target => "_blank", class: "muted" %> and <%= link_to "Doug Wright", "http://doug.io", :target => "_blank", class: "muted" %>
  </small>
</div>