<ul class="nav nav-pills">
  <li><%= link_to "Home", root_path, class: "nav-text-color" %></li>
  <li><%= link_to "All Ratings", names_path, class: "nav-text-color" %></li>
  <li><%= link_to 'Add Name', new_name_path, class: "nav-text-color" %></li>
</ul>